<div>
  <h1>
    <%= @game.current_turn.player_name%> attacked <%= @game.previous_turn.player_name %>
  </h1>
</div>

<div>
  <h2>
    <%= @game.player_2.player_name %>'s score is: <%= @game.player_2.score %> HP
  </h2>
</div>


<div>
  <form action="/play" method="post">
    <input type="submit" value="Ok">
  </form>
</div>
